@page
@model TVTrackII.Pages.InicioModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Bienvenido @Model.NombreUsuario</h2>
<p>Has iniciado sesión como usuario normal.</p>

<a href="/Login">Cerrar sesión</a>
