@page "/InicioAdministrador"
@model TVTrackII.Pages.InicioAdministradorModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Panel de Administración</h2>

<nav>
    <ul style="list-style-type:none; padding:0;">
        <li><a href="/Usuarios">Gestión de Usuarios</a></li>
        <li><a href="#">Gestión de Contenido</a></li>
        <li><a href="#">Reportes</a></li>
        <li><a href="#">Comentarios</a></li>
        <li><a href="#">Estadísticas</a></li>
        <li><a href="/Login">Cerrar Sesión</a></li>
    </ul>
</nav>
