@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Bienvenido a TVTrackV2 📺</h1>

<p>
    Este sistema te permite gestionar usuarios, visualizar contenidos, analizar estadísticas y más.
</p>

<p>
    Usa el menú de navegación lateral para comenzar.
</p>
