@using Microsoft.AspNetCore.Identity
@using TVTrackII.Models
@using System.ComponentModel.DataAnnotations
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager Navigation

<h3 class="registro-titulo">Registro de usuario</h3>

<EditForm Model="@registerModel" OnValidSubmit="HandleRegister" FormName="registerForm" class="registro-formulario">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="campo-formulario">
        <label>Correo electrónico</label><br />
        <InputText @bind-Value="registerModel.Email" class="input-text" />
    </div>
    <div class="campo-formulario">
        <label>Contraseña</label><br />
        <InputText @bind-Value="registerModel.Password" type="password" class="input-text" />
    </div>
    <button type="submit" class="boton-enviar">Registrarse</button>
</EditForm>

@code {
    private RegisterModel registerModel = new();

    private async Task HandleRegister()
    {
        var user = new ApplicationUser
            {
                UserName = registerModel.Email,
                Email = registerModel.Email
            };

        var result = await UserManager.CreateAsync(user, registerModel.Password);

        if (result.Succeeded)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            foreach (var error in result.Errors)
            {
                Console.WriteLine(error.Description);
            }
        }
    }

    public class RegisterModel
    {
        [Required(ErrorMessage = "El correo es obligatorio")]
        [EmailAddress(ErrorMessage = "Correo inválido")]
        public string Email { get; set; } = string.Empty;

        [Required(ErrorMessage = "La contraseña es obligatoria")]
        [MinLength(6, ErrorMessage = "Mínimo 6 caracteres")]
        public string Password { get; set; } = string.Empty;
    }
}
