@using Microsoft.AspNetCore.Components.Routing
@inherits LayoutComponentBase

<nav>
    <ul>
        <li>
            <NavLink class="nav-link" href="/">
                <span>🏠 Inicio</span>
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/usuarios">
                <span>👥 Usuarios</span>
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/contenidos">
                <span>📺 Contenidos</span>
            </NavLink>
        </li>
    </ul>
</nav>
